@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap");

.assetManageWrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  box-sizing: border-box;
}

.assetManageTitle {
  border-top: 3px solid #e5e7e9;
  border-bottom: 2px solid #e5e7e9;
  background-color: #f5f7f9;
  height: 4rem;
  width: 100%;
  
  .assetManageTitleBox {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;

    .boldTitle {
      padding-top: 1.1rem;

      span {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  
    .subTitle {
      margin-left: 2rem;
      padding-top: 1.1rem;

      span {
        font-size: 0.75rem;
        font-weight: 300;
      }
    }
  }
}

.assetManageContent {
  width: 100%;
  height: 57rem;
  margin-top: 5rem;
  padding-bottom: 6rem;
  display: flex;

  .assetManageContentBox {
    width: 1200px;
    height: 100%;
    margin: 0 auto;

    border: 1px solid #ccc;
    border-radius: 1.6rem;

    .assetManageContentTitleBox {
      display: flex;

      .assetManageContentTitle {
        display: flex;
        flex-direction: column;
        padding: 3rem 4rem;
        width: 35%;
  
        span {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0.8rem;
        }
        
        input {
          padding-left: 0.4rem;
        }
      }
      
      .assetManageContentSubTitle {
        display: flex;
        flex-direction: column;
        padding: 3rem 4rem;
        width: 50%;

        span {
          font-size: 1.1rem;
          font-weight: 600;
          margin-bottom: 0.8rem;
        }

        input {
          padding-left: 0.4rem;
        }
      }
    }
  } 
}

.assetManageInput {
  margin-top: 1rem;

  .assetManageInputTop {
    margin-left: 4rem;

    th, td {
      border: 1px solid #ddd;
    }

    .assetManageInputTHead {
      width: 16rem;
      height: 3rem;
      text-align: center;
      background-color: #eee6ff;
      font-weight: 600;
      color: #424242;
      letter-spacing: 0.1rem;
    }

    .assetManageInputTBody {
      height: 4rem;
      text-align: center;

      input {
        width: 6rem;
        text-align: right;
        padding-right: 0.4rem;
      }

      label {
        font-size: 1rem;
        font-weight: 500;
        margin-left: 0.4rem;
      }
    }
  }
}

.assetManageInfo {
  margin-top: 5rem;
  margin-left: 4rem;
  
  span {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .assetManageInfoContent {
    margin-top: 1rem;
    width: 64rem;
    height: 15rem;
    background-color: #f8f9fb;

    padding: 2rem;
    font-size: 0.9rem;
    font-weight: 400;
  }
}

.assetManageSubmitBtn {
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  button {
    width: 6.5rem;
    height: 3rem;
    justify-content : center;
    border: 1px solid #4400a8;
    background-color: #5400cf;
    box-shadow: inset 0px -2px 1px #3c0094;

    span {
      color: white;
      font-weight: 600;
    }
  }
}