.fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .al {
    text-align: left;
  }
  .ar {
    text-align: right;
  }
  .ac {
    text-align: center;
  }
  .bold {
    font-weight: 600;
  }
  
  /* margin-top */
  .mt-0 {
    margin-top: 0 !important;
  }
  .mt-5 {
    margin-top: 5 !important;
  }
  .mt-8 {
    margin-top: 8 !important;
  }
  .mt-10 {
    margin-top: 10 !important;
  }
  .mt-15 {
    margin-top: 15 !important;
  }
  
  /* normalize */
  body,
  input,
  select,
  textarea {
    font-size: 15px;
    letter-spacing: -0.5px;
  }
  button,
  input,
  optgroup,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    outline-style: none;
  }
  .taC {
    text-align: center;
  }
  .taR {
    text-align: right;
  }
  .taL {
    text-align: left;
  }
  
  .txt_plus {
    color: #f83838;
  }
  .txt_minus {
    color: #177cd2;
  }
  
  .ml4px {
    margin-left: 4px;
  }
  .ml8px {
    margin-left: 8px;
  }
  .ml15px {
    margin-left: 15px;
  }
  .ml20px {
    margin-left: 20px;
  }
  
  .mr4px {
    margin-right: 4px;
  }
  .mr8px {
    margin-right: 8px;
  }
  .mr15px {
    margin-right: 15px;
  }
  .mr20px {
    margin-right: 20px;
  }
  
  .mr-5 {
    margin-right: 5px !important;
  }
  .mr-10 {
    margin-right: 10px !important;
  }
  .mr-20 {
    margin-right: 20px !important;
  }
  .mr-30 {
    margin-right: 30px !important;
  }
  
  .mt6px {
    margin-top: 6px;
  }
  .mb6px {
    margin-bottom: 6px;
  }
  .mt8px {
    margin-top: 8px;
  }
  .mb8px {
    margin-bottom: 8px;
  }
  .mt10px {
    margin-top: 10px;
  }
  .mt20px {
    margin-top: 20px;
  }
  .mt30px {
    margin-top: 30px;
  }
  .mt40px {
    margin-top: 40px;
  }
  
  .mb10px {
    margin-bottom: 10px;
  }
  .mb15px {
    margin-bottom: 15px;
  }
  .mb20px {
    margin-bottom: 20px;
  }
  .mb30px {
    margin-bottom: 30px;
  }
  .mb40px {
    margin-bottom: 40px;
  }
  .mb50px {
    margin-bottom: 50px;
  }
  
  .mb-5 {
    margin-bottom: 5px !important;
  }
  .mb-10 {
    margin-bottom: 10px !important;
  }
  
  .lh18px {
    line-height: 18px;
  }
  .lh20px {
    line-height: 20px;
  }
  .lh33px {
    line-height: 33px;
  }
  
  .ellipsis {
    text-overflow: ellipsis;
  }
  
  .txtbold {
    font-weight: bold;
  }
  .txtcolorblack {
    color: #000;
  }
  
  /* table  = tbl */
  .tbl_vertical {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    letter-spacing: 0;
  }
  
  .tbl_vertical tr {
    height: 70px;
  }
  .tbl_vertical th {
    text-align: center;
    background: #f1f3f5;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    font-weight: 600;
    color: #424242;
    padding: 10px;
  }
  .tbl_vertical th.buy {
    background: #fcecec;
  }
  .tbl_vertical th.sell {
    background: #e1f1f8;
  }
  .tbl_vertical th.tradeList {
    background: #143b58;
    color: #fff;
    border: 1px solid #143b58;
  }
  .tbl_vertical tr.tradeList_02 th {
    background: #d3d9de;
    border: 1px solid #cacaca;
  }
  .tbl_vertical th.title {
    background: #efefef;
  }
  .tbl_vertical th.subtitle {
    background: #fcfcfc;
  }
  .tbl_vertical th.blR {
    /* bl = border */
    border-right: 1px solid #ddd;
  }
  .tbl_vertical th.taL {
    /* ta = text align */
    text-align: left;
  }
  .tbl_vertical th.divide {
    border-bottom: 2px solid #ccc;
  }
  .tbl_vertical tr.bg_ChangeDate {
    /* bg = background */
    background: #e1f1f8;
  }
  .tbl_vertical td.taC {
    text-align: center;
  }
  .tbl_vertical td.taR {
    text-align: right;
    padding-right: 14px;
  }
  .tbl_vertical td.taL {
    text-align: left;
    padding: 10px 14px;
  }
  .tbl_vertical td.blR {
    border-right: 1px solid #ddd;
    hight: 70px;
  }
  .tbl_vertical td.divide {
    border-bottom: 2px solid #ccc;
  }
  .tbl_vertical td.bg_vi {
    background: #fcd8d8;
  }
  .tbl_vertical td.bg_buy {
    background: #5400cf;
    color: #fff;
  }
  .tbl_vertical td.bg_sell {
    background: #f03636;
    color: #fff;
  }
  .tbl_vertical td.new-port-step1 {
    height: 70px;
  }
  
  .tbl_vertical td.new-port-step1 .p {
    margin: 0px;
  }
  .tbl_vertical td.emptyList {
    padding: 20px 0;
  }
  .tbl_vertical td {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    line-height: 18px;
    color: #333;
    background: #fff;
  }
  .tbl_vertical td.stockRank {
    padding: 10px 12px;
  }
  .tbl_vertical td img {
    margin-bottom: -3px;
    padding-left: 4px;
  }
  .tbl_vertical td span.tblRate {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0;
  }
  .tbl_vertical td span.top {
    display: block;
    color: #666;
    margin-bottom: 10px;
  }
  .tbl_vertical td span.tdU {
    text-decoration: underline;
    cursor: pointer;
  }
  .tbl_vertical td em {
    font-size: 14px;
    font-weight: 600;
    color: #555;
  }
  .tbl_vertical input[type="text"] {
    border: 1px solid #ccc;
    padding: 8px 10px;
  }
  .num_rank {
    display: inline-block;
    font-family: Tahoma;
    font-size: 10px;
    color: #fff;
    text-align: center;
    width: 9px;
    height: 9px;
    line-height: 9px;
  
    border-radius: 50px;
    -webkit-border-radius: 50px;
  }
  .tbl_vertical td span.stockName {
    font-weight: 600;
    padding-left: 2px;
  }
  .tbl_vertical td span.stockCode {
    color: #777;
    font-size: 12px;
    letter-spacing: -1px;
  }
  
  .tbl_horizon {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  .tbl_horizon th {
    background: #f1f3f5;
    font-size: 13px;
    font-weight: 600;
    color: #424242;
    padding: 20px 10px;
  }
  .tbl_horizon th.buy {
    background: #ffe8e8;
  }
  .tbl_horizon th.big-rgt {
    border-right: 1px solid #bbb;
  }
  .tbl_horizon th.trade {
    padding: 12px;
  }
  .tbl_horizon th.blB {
    border-bottom: 1px solid #ddd;
  }
  .tbl_horizon td {
    padding: 14px 14px;
    color: #333;
    letter-spacing: 0;
    border: 1px solid #ddd;
  }
  .tbl_horizon td.taC {
    text-align: center;
  }
  .tbl_horizon td.taL {
    text-align: left;
  }
  .tbl_horizon td.taR {
    text-align: right;
  }
  .tbl_horizon td.bg_gray {
    background: #f5f7f9;
  }
  .tbl_horizon td.blg_bottom {
    border-bottom: 1px solid #bbb;
  }
  .tbl_horizon td.blg_right {
    border-right: 1px solid #bbb;
  }
  .tbl_horizon td.trade {
    padding: 12px;
  }
  
  /* subtitle */
  .subtitle_14px {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    color: #555;
    letter-spacing: 0;
  }
  .subtitle_15px {
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color: #333;
  }
  .subtitle_16px {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #333;
  }
  
  /* input */
  input[type="radio"].css-radiobtn {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  input[type="radio"].css-radiobtn:checked + label.css-label {
    background-position: 0 -17px;
  }
  input[type="radio"].css-radiobtn + label.css-label,
  input[type="radio"].css-radiobtn + label.css-label.clr {
    padding-left: 22px;
    height: 17px;
    display: inline-block;
    line-height: 17px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
  }
  label.css-label {
    margin-right: 40px;
    background-image: url(../img/btn_radio.png);
    -webkit-touch-callout: none;
    user-select: none;
  }
  input[type="text"].text_extrasmall {
    width: 60px;
    height: 33px;
    padding: 6px 10px;
    border: 1px solid #bbb;
    color: #333;
    margin-right: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  input[type="text"].text_small {
    width: 70px;
    padding: 8px 10px;
    border: 1px solid #bbb;
    color: #333;
  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  input[type="text"].text_medium {
    width: 100px;
    padding: 8px 10px;
    border: 1px solid #bbb;
    color: #333;
    margin-left:5px;
    margin-right:5px;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  input[type="number"].text_extrasmall {
    width: 120px;
    padding: 6px 10px;
    border: 1px solid #bbb;
    color: #333;
    vertical-align: top;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  input[type="number"].text_extrasmall::-webkit-inner-spin-button {
    opacity: 1;
  }
  input[type="text"].text_conditionInput {
    width: 40px;
    padding: 8px 7px;
    border: 1px solid #bbb;
    color: #333;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  select.select_newport {
    display: inline-block;
    border: 1px solid #bbb;
    padding: 7px 10px;
    color: #333;
    vertical-align: top;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  input[type="checkbox"].check_np {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  label.checkbox_label_np {
    background-image: url(../img/img_checkbg_off.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  input[type="checkbox"].check_np + label.checkbox_label_np {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
    cursor: pointer;
  }
  label.checkbox_label_np.checked,
  input[type="checkbox"].check_np:checked + label.checkbox_label_np {
    background-image: url(../img/img_checkbg_on.png);
    background-position: 0 0 !important;
  }
  
  /* button */
  .btn {
    display: inline-block;
    cursor: pointer;
  }
  .run_backtest_button {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  .btn_extrasmall {
    font-size: 12px;
    transition: 0.1s;
    text-align: center;
    padding: 2px 8px;
    border-radius: 3px;
  }
  .btn_extrasmall:hover {
    cursor: pointer;
  }
  .btn_small {
    font-size: 12px;
    transition: 0.1s;
    text-align: center;
    padding: 0px 8px;
    vertical-align: middle;
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .btn_small img {
    vertical-align: middle;
    padding-right: 3px;
    margin-top: 3px;
  }
  .btn_small:hover {
    cursor: pointer;
  }
  .btn_medium {
    font-size: 13px;
    transition: 0.1s;
    text-align: center;
    padding: 8px 12px;
    vertical-align: middle;
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .btn_medium:hover {
    cursor: pointer;
  }
  .btn_extralarge {
    font-size: 14px;
    width: 140px;
    transition: 0.1s;
    padding: 15px 0;
    vertical-align: middle;
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  .btn_extralarge a:hover {
    cursor: pointer;
    color: #fff;
  }
  .btn-m {
    display: inline-block;
    padding: 4px 7px;
    font-size: 12px;
    transition: 0.1s;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn_white {
    vertical-align: middle;
    background: #fff;
    border: 1px solid #aaa;
    font-weight: 600;
    color: #888;
    box-shadow: inset 0px -1.5px 1px #e0e0e0;
    margin-right: 5px;
  }
  .btn_white:hover {
    border: 1px solid #888;
  
    color: #555;
    box-shadow: inset 0px 0px 0px #e0e0e0;
  }
  .btn_purple {
    background: #5400cf;
    border: 1px solid #4400a8;
    font-weight: 600;
    color: #fff;
    box-shadow: inset 0px -2px 1px #3c0094;
    margin-right: 5px;
  }
  .btn_purple:hover {
    background: #4400a8;
    box-shadow: inset 0px 0px 0px #4400a8;
  }
  .btn_cls {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  /* 매매조건 */
  .box_tradeCondition {
    width: 48px;
    overflow: hidden;
  }
  .condition {
    border: 1px solid #ddd;
    padding: 15px;
  }
  .condition .full {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    border-bottom: 3px solid #ddd;
    padding-bottom: 8px;
  }
  
  /* universe */
  .box_universe {
    width: 100%;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-top: 6px;
  
    padding: 18px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .box_universe p {
    display: inline-block;
    padding-right: 20px;
  }
  .box_universe p:last-child {
    padding-right: 0;
  }
  .box_universe p.title {
    width: 90px;
    border-right: 2px solid #ccc;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    margin-top: 5px;
  }
  .box_universe p.check_fix {
    width: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .box_universe p.check_theme {
    width: 20%;
  }
  /* 팝업 */
  .pop {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
  
  .pop-in {
    position: absolute;
    width: 600px;
    margin-left: -300px;
    left: 50%;
    top: 20%;
  }
  
  .pop-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
  }
  
  .pop .pop-close {
    background: none;
    border: none;
    outline: none;
  }
  
  .pop-style-2 .pop-in {
    width: 730px;
    margin-left: -365px;
    top: 5%;
    left: 50%;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    min-height: 200px;
  }
  
  .pop-style-2 .pop-con {
    padding: 35px 40px 50px 40px;
  }
  
  .pop-close-style-2 {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 16px;
    height: 16px;
    /* background: url(../imgs/common/pop_close_btn.png) no-repeat center center; */
    cursor: pointer;
  }
  
  .pop-h2 {
    display: inline-block;
    overflow: hidden;
    padding: 1px 25px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    letter-spacing: -0.04em;
    line-height: 26px;
    background: #ff5555;
    border-radius: 14px;
  }
  
  .pop-ul {
    margin-bottom: 40px;
  }
  
  .pop-ul li {
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #242424;
    /* background: url(../imgs/common/pop_li_ico.png) no-repeat 11px 8px; */
  }
  
  .pop-text-style-1 {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.025em;
    color: #6c6c6c;
  }
  
  .text-link {
    color: #1854ff;
    text-decoration: underline;
  }
  
  .pop-style-3 .pop-in {
    width: 330px;
    margin-left: -165px;
    border: 1px solid #c5c5c5;
    background: #fff;
  }
  
  .pop-style-3 .pop-header {
    position: relative;
    background: #263e59;
    line-height: 45px;
    height: 45px;
    text-indent: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -0.025em;
  }
  
  .pop-style-3 .pop-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 55px;
    /* background: url(../imgs/common/btn_clsPopup_common.png) no-repeat center center; */
    cursor: pointer;
  }
  
  .pop-style-3 .pop-con {
    position: relative;
    padding: 25px;
  }
  
  .pop-style-3 .qr-code-box {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10001;
  }
  
  .pop-style-3 .qr-code-img {
    margin-bottom: 7px;
  }
  
  .pop-style-3 .qr-code-text {
    margin-bottom: 7px;
    font-size: 13px;
    color: #333;
  }
  
  .pop-style-3 .pop-ul-3 {
    margin-bottom: 20px;
  }
  
  .pop-style-3 .pop-ul-3 li {
    line-height: 20px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #333;
  }
  
  .pop-ico-num {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    background: #f1f3f5;
    color: #6a6a6a;
  }
  
  .pop-style-4 .pop-in {
    width: 480px;
    margin-left: -240px;
    border: 1px solid #c5c5c5;
    background: #fff;
  }
  
  .pop-style-4 .pop-header {
    position: relative;
    background: #263e59;
    line-height: 45px;
    height: 45px;
    text-indent: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -0.025em;
  }
  
  .pop-style-4 .pop-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 55px;
    /* background: url(../imgs/common/btn_clsPopup_common.png) no-repeat center center; */
    cursor: pointer;
  }
  
  .pop-style-4 .pop-con {
    position: relative;
    padding: 20px 20px 20px 20px;
  }
  
  .pop-style-4 .pop-style-4-p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 130%;
  }
  .pop-size-550 .pop-in {
    width: 550px;
    margin-left: -275px;
  }
  .pop-size-600 .pop-in {
    width: 600px;
  }
  .pop-size-660 .pop-in {
    width: 660px;
  }
  .pop-ul-4 li {
    overflow: hidden;
    margin-bottom: 15px;
  }
  .pop-fl {
    float: left;
  }
  .pop-fr {
    float: right;
  }
  .pop-style-4 .pop-fl {
    width: 33%;
  }
  
  .pop-style-4 .pop-fr {
    width: 66%;
  }
  
  .pop-style-4 .pop-fl-2 {
    float: left;
    width: 25%;
  }
  .pop-style-4 .pop-fr-2 {
    float: right;
    width: 74%;
  }
  .pop-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  .pop-input,
  .pop-textarea {
    width: 99%;
    border: 1px solid #dfdfdf;
    background: #ededed;
    text-indent: 10px;
  }
  .pop-input {
    height: 23px;
  }
  .pop-textarea {
    height: 80px;
  }
  .pop-btn-1 {
    display: inline-block;
    min-width: 80px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #f83838;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
  }
  .pop-btn-2 {
    display: inline-block;
    min-width: 80px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #f83838;
    background: #fff;
    text-align: center;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid #f83838;
  }
  .pop-style-5 .pop-in {
    overflow-y: auto;
    width: 980px;
    margin-left: -490px;
    border: 1px solid #c5c5c5;
    background: #fff;
    top: 4%;
    max-height: 92%;
  }
  .pop-style-5 .pop-header {
    position: relative;
    background: #263e59;
    line-height: 45px;
    height: 45px;
    text-indent: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -0.025em;
  }
  .pop-style-5 .pop-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 55px;
    /* background: url(../imgs/common/btn_clsPopup_common.png) no-repeat center center; */
    cursor: pointer;
  }
  .pop-style-5 .pop-con {
    position: relative;
    padding: 20px;
    overflow: auto;
  }
  
  .pop-style-5 .pop-con-in {
    padding: 0 20px;
    margin-bottom: 5px;
    border: 1px solid #d2d2d2;
  }
  
  .pop-con.pop-scroll {
    max-height: 650px;
    overflow: auto;
  }
  /* 조건식 팝업 */
  .pop-conditional .pop-in {
    position: absolute;
    width: 900px;
    height: 688px;
    margin-left: -450px;
    left: 50%;
    top: 2%;
    overflow-y: auto;
    max-height: 97%;
    background: #fff;
  }
  
  .pop-conditional .pop-content {
    padding: 20px;
    max-height: 680px;
    overflow-y: auto;
  }
  
  .input-conditional-content {
    height: 390px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background: #f5f7f9;
  }
  
  .pop-conditional .input-srch {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    text-indent: 10px;
    color: #333;
    outline: 0;
    vertical-align: middle;
  }
  
  .pop-conditional input[type="text"],
  .pop-conditional input[type="number"],
  .pop-conditional select {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    text-indent: 10px;
    color: #333;
    outline: 0;
  }
  .pop-conditional .button-search {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: -28px;
    background: url(../img/icn_srch.png) no-repeat center center;
    vertical-align: middle;
  }
  .pop-conditional .btn-ent {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
    font-size: 12px;
    transition: 0.1s;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #aaa;
    font-weight: 600;
    color: #888;
    box-shadow: inset 0px -1.5px 1px #e0e0e0;
    cursor: pointer;
  }
  .pop-conditional .btn-ent:hover {
    border: 1px solid #888;
    font-weight: 600;
    color: #555;
    box-shadow: inset 0px 0px 0px #e0e0e0;
  }
  .box_condLeft,
  .box_condRight {
    height: 390px;
    overflow-y: auto;
    padding: 0;
  }
  .box_condLeft ul {
    padding: 15px;
  }
  .box_condRight ul {
    padding: 15px 10px 5px 20px;
  }
  .input-conditional-content .arrow {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -11px;
  }
  
  .box_condLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    border-right: 1px solid #ccc;
    z-index: 10;
    background: #fff;
  }
  
  .box_condLeft li {
    font-size: 15px;
    cursor: pointer;
  }
  
  .box_condLeft li:hover {
    background: #f5f7f9;
  }
  
  .box_condLeft .depth2_none span {
    padding-left: 30px;
  }
  .box_condLeft .depth3 span {
    padding-left: 60px;
  }
  .box_condLeft .depth1_none {
    padding-left: 5px;
    font-size: 13px;
    color: #333;
    line-height: 30px;
    font-weight: normal;
  }
  
  .box_condLeft .depth1_none.on {
    color: #ff6600;
    font-weight: 600;
  }
  .box_condRight {
    position: relative;
    margin-left: 40%;
    width: 60%;
  }
  .box_condTitle {
    width: 98%;
    border-bottom: 2px solid #ddd;
    padding: 0 0 6px 2%;
    margin-bottom: 9px;
  }
  
  .box_condTitle .condName {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #ff6600;
    height: 38px;
    margin-bottom: 0;
  }
  .box_condTitle .condName .cond-name-btn-r {
    position: absolute;
    right: 0;
    top: -5px;
  }
  .box_condTitle .condName .q-mark {
    position: absolute;
    right: 0;
    top: 0;
  }
  .box_condTitle .condText {
    overflow-y: auto;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0;
    color: #333;
    line-height: 130%;
    height: 52px;
    padding-bottom: 2px;
  }
  .box_condSlct {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
  }
  .box_condRight select {
    padding-left: 2px;
    padding-right: 0;
  }
  
  /* 0519 화면이 줄어드는 이슈 수정 완료  */
  @media screen and (max-width: 1240px) {
    html {
      width: 100%;
      height: 100%;
    }
    body {
      flex-direction: column;
      width: 100%;
      min-width: 1200px;
      min-height: 100%;
      overflow-x: auto;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    width: 100%;
  }
  
  div {
    display: block;
  }
  
  #header {
    height: 160px;
    font-family: "Noto Sans KR", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f8f9fb;
  }
  
  #container {
    margin: 0 auto;
    min-height: 100%;
    font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
  }
  #header-top {
    height: 40px;
    width: 100%;
    background-color: #f8f9fb;
  }
  
  #header-top-right {
    position: absolute;
    width: 435spx;
    height: 40px;
    right: 0;
    top: 0;
    font-size: 16px;
    padding: 8px;
  }
  
  ul {
    display: block;
    /* font-size: 16px; */
    list-style-type: none;
  }
  
  #header-top-right li {
    display: inline;
    float: left;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #666;
    line-height: 40px;
  }
  
  #header-top-right li.in-select select {
    padding: 4px 6px;
    margin-top: 7px;
    font-size: 13px;
    color: #888;
    border: 1px solid #ccc;
    border-radius: 0px;
  }
  
  option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
  }
  
  #header-con {
    height: 120px;
    background-color: #f8f9fb;
  }
  .header-logo {
    float: left;
    width: 50px;
    height: 100%;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  /* main banner 1 */
  #main-banner-1 {
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-color: #f8f9fb;
  }
  .main-banner-1-img {
    height: 400px;
    background: url("../img/main_banner_1.svg") right bottom no-repeat;
    width: 100%;
    display: inline-block;
    padding-right: 50px;
  }
  .main-banner-1-left {
    width: 50%;
    padding-top: 40px;
    padding-left: 60px;
  }
  #main-banner-1 .p-1,
  #main-banner-1 .p-2,
  #main-banner-1 .p-3 {
    overflow: hidden;
  }
  
  #main-banner-1 .p-1-action,
  #main-banner-1 .p-2-action,
  #main-banner-1 .p-3-action {
    display: block;
    transition: all 1s;
  }
  
  #main-banner-1 .p-1,
  #main-banner-2 .p-1 {
    height: 53px;
    font-size: 31px;
    color: #374054;
    letter-spacing: -0.025em;
  }
  
  #main-banner-1 .p-1-action {
    transition-delay: 0.2s;
    padding-top: 0;
  }
  .p-1-style {
    vertical-align: middle !important ;
  }
  #main-banner-1 .p-2,
  #main-banner-2 .p-2 {
    height: 80px;
    font-size: 48px;
    color: #374054;
    font-weight: 900;
    line-height: 110%;
  }
  #main-banner-1 main-banner-1-img .p-2-action {
    transition-delay: 0.4s;
  }
  #main-banner-1 .p-3,
  #main-banner-2 .p-3 {
    height: 100px;
    font-size: 16px;
    color: #909dab;
    letter-spacing: -0.025em;
    transition-delay: 0.6s;
  }
  #main-banner-1 .main-banner-1-img .p-3-action {
    transition-delay: 0.6s;
  }
  #main-banner-1 .main-button-1 {
    margin-right: 18px;
  }
  /* main banner 2 */
  #main-banner-2 {
    height: 400px;
    padding-right: 60px;
    overflow: hidden;
    position: relative;
    text-align: right;
    margin: 0 auto;
    background-color: #f8f9fb;
  }
  .main-banner-2-img {
    height: 400px;
    background: url("../img/main_banner_.svg") left bottom no-repeat;
    width: 100%;
    display: inline-block;
    padding-left: 50px;
  }
  .main-banner-2-right {
    width: 50%;
    float: right;
    padding-top: 40px;
    padding-right: 60px;
  }
  
  /* main-section */
  #main-section {
    position: relative;
    height: 586px;
    background-color: #fff;
  }
  #main-section .main-section-in {
    height: 100%;
  }
  .main-section-in {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }
  #main-section .main-section-item {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .main-section-bg {
    height: 100%;
    margin-right: -60%;
    background: url(../img/main_section_2_bg_2.png) no-repeat right 57px;
  }
  .main-section-left {
    position: absolute;
    width: 42%;
    top: 130px;
    left: 0;
    z-index: 10;
  }
  #main-section .p-1 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #374054;
    letter-spacing: -0.025em;
  }
  #main-section .p-2 {
    margin-bottom: 40px;
    font-size: 40px;
    color: #374054;
    font-weight: 900;
    line-height: 120%;
  }
  #main-section .p-3 {
    margin-bottom: 120px;
    font-size: 16px;
    color: #909dab;
    letter-spacing: -0.025em;
  }
  .ms-button-1 {
    font-size: 26px;
    font-weight: bold;
    color: #5400cf;
    letter-spacing: -0.025em;
    padding-right: 48px;
    cursor: pointer;
    background: url(../img/repeat.png) no-repeat right center;
  }
  .main-section-right {
    position: absolute;
    top: 81px;
    right: 118px;
    width: 388px;
  }
  
  .ms-item-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .ms-item-cover-bg {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 2000px;
    margin-left: -1000px;
    background: url(../img/ms2_bg.jpg) no-repeat center center;
  }
  .ms-item-cover-in {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    z-index: 10;
  }
  .ms-item-cover .msic-left {
    position: absolute;
    left: 0;
    top: 320px;
  }
  #main-section .ms-item-cover .p-1 {
    margin-bottom: 0;
  }
  #main-section .p-1 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #384054;
    letter-spacing: -0.025em;
  }
  #main-section .ms-item-cover .p-2 {
    margin-bottom: 25px;
  }
  #main-section .p-2 {
    margin-bottom: 40px;
    font-size: 40px;
    color: #384054;
    font-weight: 900;
    line-height: 120%;
  }
  #main-section .ms-item-cover .p-3 {
    display: none;
  }
  #main-section .p-3 {
    /* 마진을 높게 설정하여 버튼을 눌러야 문구가 보이도록 함 */
    margin-bottom: 120px;
    font-size: 16px;
    color: #909dab;
    letter-spacing: -0.025em;
  }
  .ms-item-cover .msic-right {
    position: absolute;
    right: 0;
    top: 70px;
    text-align: right;
  }
  .main-section-right-in {
    overflow: hidden;
    margin-bottom: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0px rgba(219, 219, 219, 0.5);
  }
  .main-section-right-con {
    padding: 20px 25px 4px 25px;
    background-color: fff;
  }
  .main-section-right-item {
    margin-bottom: 20px;
  }
  .main-section .msr-text-1 {
    font-size: 16px;
    color: #909dab;
    letter-spacing: -0.025em;
  }
  .main-section .msr-text-2 {
    font-size: 16px;
    font-weight: bold;
    color: #173559;
    letter-spacing: -0.025em;
  }
  .range-box {
    position: relative;
    padding: 8px 0;
  }
  .range-bg {
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background: #c7d4dd;
  }
  .range-bg-mask {
    height: 100%;
    width: 0;
    background: #5400cf;
  }
  .main-section .range-point {
    cursor: default;
  }
  .range-point {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 16px;
    width: 16px;
    margin-left: -10px;
    border: 2px solid #e8e9e9;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
  }
  .range-point span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 4px 0 0 4px;
    background: #5400cf;
    border-radius: 4px;
  }
  .mb-5 {
    margin-bottom: 5px !important;
  }
  .radio-box {
    width: 120%;
  }
  .radio-box .radio-style-3 {
    margin-right: 10px;
  }
  .radio-box .radio-style-5 {
    margin-right: 10px;
  }
  
  /* btn */
  .main-button-1,
  .main-button-2,
  .main-button-3 {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    min-width: 160px;
    padding: 0 10px;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.025em;
    border-style: solid;
    border-width: 1px;
    border-color: #5400cf;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
  }
  .main-button-1,
  .main-button-2.on,
  .main-button-2:hover {
    color: #f8f9fb;
    background: #5400cf;
  }
  .main-button-2,
  .main-button-1.on,
  .main-button-1:hover {
    color: #5400cf;
    background: transparent;
  }
  .main-button-3 {
    color: #f8f9fb;
    background: #5400cf;
  }
  .main-button-3:hover {
    color: #5400cf;
    background: transparent;
  }
  .button-box {
    display: block;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
  /* footer */
  #footer {
    height: 200px;
    overflow: hidden;
    clear: both;
    color: #f8f9fb;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    background: #5400cf url(../img/footer.svg) no-repeat center bottom;
    background-size: cover;
  }
  #footer a {
    color: #f8f9fb;
  }
  .footer-in {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }
  .footer-left,
  .footer-right {
    padding-top: 28px;
  }
  .footer-left {
    float: left;
    width: 35%;
  }
  #footer .footer-left .footer-left-li-1 {
    margin-bottom: 55px;
  }
  .footer-link-kakaotalk {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 110%;
    cursor: pointer;
  }
  .footer-link-kakaotalk span {
    display: block;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 110%;
  }
  #footer .footer-left .footer-left-li-2 {
    margin-bottom: 3px;
  }
  .footer-link-email {
    font-size: 18px;
    font-weight: bold;
  }
  .footer-socialLink a,
  .footer-socialLink span {
    display: inline-block;
    padding: 5px 0;
    width: 33px;
    cursor: pointer;
  }
  .footer-right {
    float: right;
    position: relative;
    width: 64%;
  }
  .footer-right .copy-1 {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.025em;
  }
  
  #content {
    width: 100%;
    overflow: hidden;
  }
  /* area-location */
  .area_location {
    width: 100%;
    background-color: #f5f7f9;
    line-height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e7e9;
    border-top: 3px solid #e5e7e9;
  }
  .area_location ul {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  .area_location p.title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    letter-spacing: -1px;
    margin-right: 20px;
  }
  .area_location p.info {
    font-size: 13px;
    columns: #666;
    letter-spacing: -0.5px;
  }
  .area_location p.crumbs {
    font-size: 12px;
    color: #777;
  }
  .area_location p.crumbs span {
    padding: 0 10px;
    font-size: 11px;
    color: #999;
  }
  
  /* area_content */
  .area_content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 130px;
  }
  
  /* flow tab */
  .section_flowTab {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .section_flowTab li {
    position: relative;
    float: left;
    width: 20%;
    color: #333;
    background: #f1f3f5;
    border-right: 1px solid #d2d2d2;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .section_flowTab li:first-child {
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
  }
  .section_flowTab li:last-child {
    border-right: none;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
  }
  .section_flowTab li.on {
    background: #5400cf;
    color: #fff;
  }
  .section_flowTab li p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    letter-spacing: -1px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .section_newport {
    width: 100%;
    border: 1px solid #888;
    margin-top: 30px;
    overflow-x: auto;
    padding: 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  /* port_subBox */
  .port_subBox {
    position: relative;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    overflow-x: auto;
  }
  .box-port-title {
    float: left;
    width: 36%;
  }
  .box-port-title,
  .box-port-description,
  .box-port-sample {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
  }
  .box-port-title input,
  .box-port-description input {
    border: 1px solid #ccc;
    line-height: 35px;
    text-indent: 10px;
    width: 97%;
  }
  .box-port-description {
    float: left;
    width: 44%;
  }
  .infotxt_12px666 {
    font-size: 12px;
    color: #666;
  }
  .infotxt_13px333 {
    font-size: 13px;
    color: #333;
  }
  .infotxt_15px {
    font-size: 15px;
  }
  .box-port-sample {
    float: right;
    width: 20%;
  }
  .button-sample {
    display: block;
    line-height: 37px;
    color: #fff;
    text-align: center;
    background: #5400cf;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.05em;
    cursor: pointer;
    margin-top: -1px;
  }
  .button-sample img {
    height: 8px;
    width: 8px;
    padding-bottom: 3px;
    padding-left: 2px;
  }
  .button-sample:hover {
    color: #fff;
  }
  .box-port-sample .button-sample a:link {
    text-decoration: none;
  }
  .button-sample a:visited {
    text-decoration: none;
  }
  .box-port-sample .button-sample a:hover {
    text-decoration: none;
  }
  
  /* 매수조건식 설정 */
  .newport_conditionBox {
    width: 100%;
    overflow: hidden;
  }
  .newport_conditionBox li:nth-child(3n) {
    margin-right: 0;
  }
  .newport_conditionBox .conditionBox {
    width: 32%;
    margin-right: 22px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 15px;
    transition: 0.2s;
  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .newport_conditionBox .conditionBox:hover {
    border: 1px solid #888;
    cursor: pointer;
  }
  .num_newportCondition {
    width: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 28px;
    margin-right: 8px;
  
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  .newport_conditionBox .conditionBox img {
    display: block;
    vertical-align: middle;
    padding-top: 7px;
  }
  .newport_conditionBox .addCondition {
    width: 32%;
    height: 62px;
    text-align: center;
    background: #fcfcfc;
    margin-right: 22px;
    margin-bottom: 15px;
    border: 3px dashed #ddd;
    overflow: hidden;
    padding: 13px;
    transition: 0.2s;
  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .newport_conditionBox .addCondition:hover {
    background: #f7f7f7;
    border: 3px dashed #ccc;
    cursor: pointer;
  }
  .button_addCondition {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background: #ccc;
    color: #555;
    text-align: center;
  }
  .button_refresh {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: #ddd;
    border: 1px solid #ccc;
    transition: 0.2s;
    margin-left: 5px;
  
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  .button_refresh img {
    width: 17px;
    height: 15px;
    margin: 3px 3px 5px 3px;
  }
  .button_refresh:hover {
    cursor: pointer;
    background: #d2d2d2;
  }
  /* 매수조건식 설정 */
  .box_padding20 {
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px;
  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .box-conditionInput-l {
    float: left;
    width: 76%;
  }
  .box-conditionInput-r {
    float: right;
    width: 24%;
    text-align: right;
  }
  /* 조건입력 팝업 - 왼쪽 박스 */
  .box_condLeft {
    width: 420px;
    height: 370px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .box_condLeft li {
    width: 100%;
    line-height: 30px;
    color: #333;
  }
  .box_condLeft li:hover {
    background: #f5f7f9;
    cursor: pointer;
  }
  .box_condLeft li img {
    margin-right: 4px;
  }
  .box_condLeft li.on {
    color: #ff6600;
    font-weight: 600;
    background: #f5f7f9;
  }
  .box_condLeft .depth1 {
    width: 100%;
    line-height: 34px;
    font-weight: 600;
    overflow: hidden;
  }
  .box_condLeft .depth2_none span {
    padding-left: 30px;
  }
  .box_condLeft .depth2 {
    font-weight: 600;
  }
  .box_condLeft .depth2 img {
    padding-left: 30px;
  }
  .box_condLeft .depth3 span {
    padding-left: 60px;
  }
  
  /* 조건입력 팝업 - 오른쪽박스 ---------------------- */
  .box_condRight {
    width: 320px;
    height: 370px;
    background: #f5f7f9;
    overflow-y: auto;
  
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
  }
  .box_condTitle {
    width: 96%;
    margin: 0 auto;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .box_condTitle .condName {
    font-size: 15px;
    font-weight: 600;
    color: #ff6600;
    margin-bottom: 10px;
  }
  .box_condSlct {
    width: 90%;
    margin: 0 auto;
  }
  .box_condSlct .txt_condSlct {
    font-size: 15px;
  }
  .box_condSlct p {
    height: 30px;
  }
  .box_condSlct p span {
    padding-left: 6px;
  }
  .box_condSlct_half {
    margin: 0 auto;
  }
  .box_condSlct_half .txt_condSlct {
    font-size: 15px;
  }
  .box_condSlct_half p {
    height: 30px;
  }
  .box_condSlct_half p span {
    padding-left: 6px;
  }
  .box_submitBtn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
  }
  .box_condSet {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
  }
  .box_condSet li {
    overflow: hidden;
  }
  .box_condSet input.input_lft {
    width: 450px;
    border: 1px solid #ccc;
    padding: 8px 10px;
    font-size: 15px;
    color: #424242;
    transition: 0.3s;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .box_condSet input.input_lft:focus {
    border: 1px solid #f83838;
  }
  .box_condSet input.input_lft:hover {
    border: 1px solid #f83838;
  }
  .box_condSet input.input_rgt {
    width: 120px;
    border: 1px solid #ccc;
    padding: 8px 10px;
    font-size: 15px;
    color: #424242;
    transition: 0.3s;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .box_condSet input.input_rgt:focus {
    border: 1px solid #f83838;
  }
  .box_condSet input.input_rgt:hover {
    border: 1px solid #f83838;
  }
  .box_condSet select {
    width: 106px;
    padding: 8px 10px;
    border: 1px solid #ccc;
  
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .box_condSet_info {
    background: #f5f7f9;
    padding: 14px 10px;
    margin-top: 10px;
  }
  
  .inputCond_submit {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
  }
  .btn_cls {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  